//colors
$primary-color: #55c57a;
$primary-color-light: #7ed56fc7;
$primary-color-dark: #28b4859f;
$color-gray: #777;
$color-gray-2: rgba(119, 113, 113, 0.822);
$color-white: #fff;
$color-white-2: rgba(194, 189, 189, 0.959);
$dark-gray-color: rgba(201, 197, 197, 0.959);

$black-color: rgba(20, 19, 19, 0.884);
$black-color-dark: rgba(20, 19, 19, 0.966);

$secondary-color-light: #ffb900;
$secondary-color-dark: #ff7730;

$tertiary-color-light: #2998ff;
$tertiary-color-dark: #5643fa;
//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font: 1.6rem;