.section-about {
    background-color: $dark-gray-color;
    padding: 25rem 0;
    margin-top: -20vh;

    @include respond(tab-port) {
        padding: 20rem 0;
        margin-top: -12vh;
    }
    @include respond(phone) {
        padding: 20rem 0;
    }
}

.section-features {
    padding: 20rem 0;
    background-image: linear-gradient(to bottom right, $primary-color-light, $primary-color-dark) ,url(../img/nat-4.jpg);
    background-size: cover;

    transform: skewY(-7deg);
    margin-top: -15rem;

    @include respond(tab-port) {
        padding: 10rem 0;
        margin-top: -5rem;
        transform: skewY(-4deg);
    }
    @include respond(phone) {
        padding: 8rem 0;
        margin-top: -5rem;
        transform: skewY(0);
    }

    & > * {
        transform: skewY(7deg);
        @include respond(tab-port) {
            transform: skewY(4deg);
        }

        @include respond(phone) {
            transform: skewY(0);
        }
    }
}

.section-tours {
    padding: 25rem 0 15rem 0;
    background-color: $dark-gray-color;
    margin-top: -13rem;

    @include respond(tab-port) {
        padding: 15rem 0 6rem 0;
        margin-top: -5rem;
    }


    @include respond(phone) {
        padding: 10rem 0 6rem 0;
        margin-top: -5rem;
    }
}
.section-story {
    position: relative;
    padding: 15rem 0;

    @include respond(tab-port) {
        padding: 10rem 0;
    }

    @include respond(phone) {
        padding: 8rem 0;
    }
  //  background-color: $dark-gray-color;
}
.section-book {
    padding: 15rem 0;
    @include respond(tab-port) {
        padding: 9rem 0;
    }
    @include respond(phone) {
        padding: 8rem 0;
    }
    background-image: linear-gradient(to bottom right, rgba($primary-color-light, .85), rgba($primary-color-dark, .85));
}
